.widget {
    width: 200px;
    height: 200px;
    display: flex;
    background: white;
    border-radius: 6px;
    position: relative;
}

.left, .right {
    position: absolute;
    display: flex;
    flex-direction: column;
    font-weight: 400;
}